/Tests/WebDavForSwiftExample/WebDavForSwiftExample.xcodeproj/project.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
/Tests/WebDavForSwiftExample/WebDavForSwiftExample.xcodeproj/project.xcworkspace/xcuserdata
/Tests/WebDavForSwiftExample/.DS_Store
/Tests/WebDavForSwiftExample/WebDavForSwiftExample.xcodeproj/xcuserdata/apple.xcuserdatad
